@{
}

@model BooksViewModel

<h1>The Bookstore that Never Ends</h1>

@foreach (Book b in Model.Books)
{
    <ul>
        <li>Title: @b.Title</li>
        <li>Author: @b.Author</li>
        <li>Publisher: @b.Publisher</li>
        <li>ISBN: @b.Isbn</li>
        <li>Classification: @b.Classification</li>
        <li>Category: @b.Category</li>
        <li>Number of Pages: @b.PageCount</li>
        <li>Price: @b.Price</li>
    </ul>

    <br />
}

<div page-number="@Model.PageInfo"></div>