@page
@model BookstoreProject.Pages.ShopModel
@{
}

<h2>Your Cart</h2>

@*Extra part of assignment was added here!*@
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.basket.Items)
        {
            <tr>
                <td>@i.Book.Title</td>
                <td>@i.Quantity</td>
                <td>20</td>
                <td>@(i.Quantity * i.Book.Price)</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3"><b>Total:</b></td>
            <td><b>@Model.basket.CalculateTotal().ToString("c")</b></td>
        </tr>
    </tfoot>
</table>

@*Extra part of assignment was added here!*@
<div class="alert alert-success alert-dismissible">
    Your Cart was succesfully loaded and is ready to roll!
</div>

<br />

<div>
    <a class="btn btn-primary" href="@Model.ReturnUrl">Purchase More Books</a>
</div>